:root{
    --dark:#12edf0;
}


.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid black;

}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: red;
    border: 3px solid black;
    transition: background-color 1s ease 3s;
    
}
.box:hover{
    background-color: var(--dark);
    transform: rotate(45deg);
}